TikTok to Google Drive Uploader.json
{
  "name": "TikTok to Google Drive Uploader",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tiktok-upload",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "87976b91-51af-4c28-9898-4d22add94766",
      "name": "Webhook",
      "webhookId": "1628a9a9-0cb4-497d-9c93-b7c58f6e880f"
    },
    {
      "parameters": {
        "bucketName": "={{ $json.body.s3Bucket || \"tiktok-videos-temp\" }}",
        "fileKey": "={{ $json.body.s3Key }}"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "8e6ba808-6ee7-40af-be90-5d6671784ba7",
      "name": "Download a file",
      "credentials": {
        "s3": {
          "id": "xTgV5rll9Z4wio43",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.body.filename }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "14Rpdde_a3O8WdFEWkXLO8Jb2sljWVzXE",
          "mode": "list",
          "cachedResultName": "TikTok",
          "cachedResultUrl": "https://drive.google.com/drive/folders/14Rpdde_a3O8WdFEWkXLO8Jb2sljWVzXE"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "04c102fb-1e36-4b39-b935-5a78ff7ce032",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uOBgaB3ncwMzRlOD",
          "name": "DOMAIN2DZ-ot6dzz"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Webhook').item.json.body.botToken }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('Webhook').item.json.body.chatId }}\",\n  \"text\": \"✅ تم رفع الفيديو بنجاح!\\n\\n👤 المستخدم: {{ $('Webhook').item.json.body.username }}\\n📁 الملف: {{ $('Webhook').item.json.body.filename }}\\n📏 الحجم: {{ (Number($json.size) / 1024 / 1024).toFixed(2) }} MB\\n\\n🔗 رابط المشاهدة:\\n{{ $json.webViewLink }}\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        0
      ],
      "id": "21a94cd2-04dd-4f9d-bc62-dbe736b7fc55",
      "name": "Telegram"
    },
    {
      "parameters": {
        "operation": "delete",
        "bucketName": "tiktok-videos-temp",
        "fileKey": "={{ $('Webhook').item.json.body.s3Key }}",
        "options": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "7c22cf14-2053-451c-9c45-ed3851d01af3",
      "name": "Delete a file",
      "credentials": {
        "s3": {
          "id": "xTgV5rll9Z4wio43",
          "name": "S3 account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "501a491f-453f-42c4-990b-cef814ce8c07",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9768260df5523810b602f87f503a49f0a068d024c810435bfab2b301bad3cd64"
  },
  "id": "Edmo9cKM1CGWIN15",
  "tags": []
}